.main{
    background-image: url('./../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-position: center center;
    background-attachment: fixed;
    background-color: grey;
    font-family: 'Staatliches', cursive;
    @media (max-width: @iphone-screen) {
        background-attachment: scroll;
    }
}


.main-nav{
    font-family: 'Abel', sans-serif;
    font-size: 20px;
}

.contentMain{
    justify-items: center;
    color: whitesmoke;
    margin-top: 10%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.main .contentMain h1,p{
    text-align:center;
}
.contentMain h1,h3{
    color: whitesmoke;
    padding-left: 25px;
    border: none;
}
  

.whoweare h1,h3{
    text-align: center;
    margin-top: 20px;
} 
.whoweare p{
    color: black;
}



@media only screen and (max-width: 600px) {
    .contentMain{
        margin-top: 20%;
        justify-items: center;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
    .main .contentMain h1{
        text-align:center;
        font-size: 20px;

    }
    .main .contentMain p{
        text-align:center;
        font-size: 15px;
    }
  }